/* Login.html Styles */

#logo {
  text-align: center;
  margin-top: 80px;
}

#loginBackground {
  background: url(https://images.unsplash.com/photo-1548940740-204726a19be3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2135&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#loginCard {
  margin: auto;
  background: rgba(255, 255, 255, 0.95);
  margin-top: 6%;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#loginCard h3 {
  color: #696969;
  font-weight: 300;
}

#signUpLink {
  text-align: center;
  font-size: 13px;
}

#signUpLink p {
  margin-bottom: 5px;
}
