/* Login.html Styles */

#logo {
  text-align: center;
  margin-top: 80px;
}

#loginBackground,
#membersBackground,
#signUpBackground {
  background: url(https://images.unsplash.com/photo-1548940740-204726a19be3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2135&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#loginCard,
#membersCard,
#signUpCard {
  margin: auto;
  background: rgba(255, 255, 255, 0.95);
  margin-top: 6%;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#loginCard h3,
#signUpCard h3 {
  color: #696969;
  font-weight: 300;
}

#signUpLink,
#loginLink {
  text-align: center;
  font-size: 13px;
}

#signUpLink p,
#loginLink p {
  margin-bottom: 5px;
}

#welcomeMessage {
  font-size: 30px;
  text-align: center;
}

.signUpCardContainer {
  margin-bottom: 90px;
}

#shoppingButtonHolder {
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}
